
/*Estilos de las fuentes*/

.fuente-titulo-h1 {
	font-size: 3rem;
	font-family: sans-serif;
	color: #365763;
	text-align: left;
}

.fuente-titulo-h2 {
	font-size: 2rem;
	font-family: sans-serif;
	color: #365763;
	text-align: left;
}

.fuente-parrafo-banner {
	font-size: 0.9em;
	font-family: sans-serif;
	color: #365763;
}

.fuente-parrafo {
	font-size: 0.9em;
	font-family: sans-serif;
	color: #365763;
}

.fuente-botones {
	font-size: 1rem;
	font-family: sans-serif;
	color: #ffffff;
}

/*Estilos del body*/

.body {
	/*background-image: url(../images/printed.svg);*/
	background-attachment: fixed;
	background-size: 12rem;
	background-position: 8% 8%;
	height: 100vh;
}

.prueba-arriba {
	display: flex;
	background-color: #b3b3b3;
	
}

/*Estilos del bloque cabecera-menú*/

.main-title {
	font-size: 1.1rem;
	font-family: sans-serif;
	font-weight: bolder;
	color: #ffffff;
	text-shadow: 0.5px 0.5px 1px black;
	
}

/*Estilos de la cabecera*/

.header {
	background-color: #b3b3b3;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	width: 30%;
}

.header-cat {
	width: 2.5rem;
	height: 2.5rem;
	margin: 0.4375rem 0.9375rem 0.4375rem 0.9375rem;
}


.header-left {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

/*Estilos del menú*/

.menu-desktop {

	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.125rem;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	width: 70%;
}

.menu-desktop>ul {
	display: flex;
	  height: 100%
}
  
.menu-desktop>ul>li {
	  height: 100%;
	display: flex;
}
  
.menu-desktop>ul>li>a {
	  color: #ffffff;
	display: flex;
	align-items: center;
	margin: 0 1.5rem 0 1.5rem;
}

/*Estilos del la sección principal*/ 

.main-banner {
	width: 100%;
	padding: 0 7rem 0 7rem;
	height: 75vh;
	background-image: url(../images/banner-5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	width: 40rem;
	margin: 0 0 0 0;
	padding: 0;
}

.main-banner > p {
	width: 40rem;
}

.boton-llamada-a-la-accion {
	background-color: #ff5c33;
	margin: 2rem 0 2rem 0;
	padding: 1rem 0 1rem 0;
	width: 12rem;
	border-radius: 0.2rem;
	text-align: center;
	color: white;
}

/*Estilos de las secciones*/

.secciones {
	padding: 0 7rem 0 7rem;
	background-color: red;
}

p {
	width: 100%;
}

/*Estilos del pie de página*/

.footer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: #b3b3b3;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	width:100%;
	text-decoration: none;
}

.footer>p {
	text-align: center;
}

/*Fin*/